* {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    text-decoration: none;
}


@import "scss/custom/card";
@import "scss/custom/variables";
@import "scss/custom/fondo";
@import "scss/custom/header";

// Create your own map
$custom-colors: (
    "custom-color": #900
);
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../node_modules/bootstrap/scss/bootstrap";



/* .parrafo {
    color: #900;
} */