@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen&display=swap');

#fondo{
    background: #e7eaef;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 1;
    height: 100vh;
}

.custom-shape-divider-top-1662487820 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1662487820 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 21vh;
}

.custom-shape-divider-top-1662487820 .shape-fill {
    fill: #514398;
}

#texto {
    font-family: "Qwitcher Grypen";
    position: relative;
    top: 22vh;
    left: 35vw;
    width: auto;
}

#texto h1 {
    font-size: 8vh;
    display: inline-block;
    
}
