@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');


header {
    background-color: transparent;
    transition: 1.1s;
    z-index: 2;
}

header.sticky {
    padding: 7px 100px;
    background: #16181d;
    transition: 1.1s;
    background-color: #e7eaef;
    z-index: 9;
    
}  

.nav-item {
    font-family: 'Nanum Gothic', sans-serif;
    color: red;
    font-weight: 600;
    :hover {
        color: #40376e;
        background-color: #e7eaef;
        opacity: 1;
    }
}